@import "tailwindcss";

@theme {
  --color-primary: #2c3e67;
  --color-secondary: #4a6fa5;
}

:root {
  --background: #ffffff;
  --foreground: #1d1d1d;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
